
{% block content_header '' %}

{% block content %}
   <h1><a href='/'>SIF Agent</a></h1>
   <h2>{{name}}</h2>
   <h3>Student {{id}}</h3>
   <p><textarea cols='100' rows='100'>{{description}}</textarea></p>
{% endblock %}
